---
// @ts-nocheck
const {post} = Astro.props;
import { Image } from 'astro:assets';

const allImages = import.meta.glob('./../images/blog/*/*.{png,jpeg,jpg,gif}');
export { default as BlogPostPreview} from "./BlogPostPreview.astro"

const dateOptions: object = {
	year: "numeric",
	month: "long",
	day: "numeric",
};
const formattedPublishDate = new Date(post.publishDate).toLocaleDateString(
	"en-US",
	dateOptions
);

let img
try{
  img = allImages[".."+post.featuredImage]()
}catch{
  img=allImages["../images/blog/_meta/placeholder.png"]()
}
---

<li class="blog-post__preview">
  <a href={post.href}>
    
    {post.featuredImage &&<Image width={702} height={468} class="post-layout__img" src={img} alt={post.title} transition:animate="initial" transition:name={post.featuredImage}/>}
    <h3 transition:animate="initial" transition:name={post.title}>{post.title}</h3>
    <small>{formattedPublishDate}</small>
    {post.excerpt && <p>{post.excerpt}</p>}
  </a>
</li>


<style>
.blog-post__preview img {
  height:auto;
  margin-bottom: 1rem;
  border-radius: calc(var(--theme-shape-radius) /2);
  transition: border-radius var(--theme-transition);
  object-fit: cover;
  aspect-ratio: 7/4;
}
.blog-post__preview:hover img {
  border-radius: var(--theme-shape-radius);
}
.blog-post__preview a {
  display: block;
  text-decoration: none;
  color: inherit;
}
.blog-post__preview h3 {
  margin: 0;
}
</style> 