---
// @ts-nocheck
const {post} = Astro.props;
import { Image } from 'astro:assets';

const allImages = import.meta.glob('./../images/blog/*/*.{png,jpeg,jpg,gif}');
export { default as BlogPostPreview} from "./BlogPostPreview.astro"
---

<li class="blog-post__preview">
  <a href={post.href}>
    
    {post.featuredImage &&<Image width={702} height={468} class="post-layout__img" src={allImages[".."+post.featuredImage]()} alt={post.title} transition:animate="initial" transition:name={post.featuredImage}/>}

    <!-- <img src={post.featuredImage} transition:animate="initial" transition:name={post.featuredImage}/> -->
    <h3 transition:animate="initial" transition:name={post.title}>{post.title}</h3>
    {post.excerpt && <p>{post.excerpt}</p>}
  </a>
</li>


<style>
.blog-post__preview img {
  margin-bottom: 1rem;
  border-radius: calc(var(--theme-shape-radius) /2);
  transition: border-radius var(--theme-transition);
  object-fit: cover;
  aspect-ratio: 3/2;
}
.blog-post__preview:hover img {
  border-radius: var(--theme-shape-radius);
}
.blog-post__preview a {
  display: block;
  text-decoration: none;
  color: inherit;
}
.blog-post__preview h3 {
  margin: 0;
}
</style> 