---
// @ts-nocheck
import { Container, Button } from '@littlesticks/odyssey-theme-components';
import Layout from './Page.astro'; 
import { generateTagData } from '../utils/helpers';
import { Image } from 'astro:assets';
import { ThemeSwitcher } from '../components/theme-switcher/theme-switcher';
import settings from '../config/settings';

const allImages = import.meta.glob('./../images/blog/*/*.{png,jpeg,jpg,gif}');



const {content: {title, description, publishDate, canonicalURL, featuredImage, tags} } = Astro.props;


let allTagsData = [];

if(tags && tags.length > 0){
  allTagsData = generateTagData(tags);
}

const seo = {
	title,
	description,
  publishDate,
	canonicalURL,
	image: featuredImage,
};
---
<Layout seo={seo}> 
  <div class="post-header__container"> 
    <ul class="post-tags__list">
      {allTagsData.map(tag => (
        <li class="post-tags__tag">
          <a href={`/philosophy/blog/tags/${tag.slug}`}>
            {tag.title}
          </a>
        </li>
      ))}
    </ul>
    <h1 transition:animate="initial" transition:name={title}>{title}</h1>
    <p class="post-layout__date">
      <time><em>{publishDate}</em></time>
    </p>
    <p id="reading-time"></p>
    {featuredImage &&<Image width={1280} height={720} class="post-layout__img" src={allImages[".."+featuredImage]()} alt={title} transition:animate="initial" transition:name={featuredImage}/>}


  </div>
  <Container narrow>  
    <article id="article" style="overflow-x:hidden">
        <slot></slot>
    </article>
    <Button href="/philosophy/blog">Back to blog</Button>
  </Container>
  <h3 class="theme-change">Change theme</h3>
	{settings.enableThemeSwitcher && <ThemeSwitcher client:load/>}
	
</Layout>

<script client:load>


  wordCount = document.getElementById("article").innerText.split(" ").length

  document.getElementById("reading-time").innerHTML = `Reading Time ~${Math.ceil(wordCount/183)} minutes`

</script>

<style> 
  #article {
    padding-bottom: 3rem;
  }
  .post-header__container {
    max-width: var(--theme-blog-post-header-width);
    margin: 1rem auto;
    padding: var(--container-padding);
  }
  .post-tags__list {
    margin: 1rem auto;
    padding: 0;
    list-style: none;
  }
  .post-tags__tag {
    text-transform: uppercase;
  }
  .post-tags__tag a {
    font-size: var(--font-size-sm);
    text-decoration: none;
  }
  .post-layout__img {
    margin: 0 auto 1rem auto;
    border-radius: var(--theme-shape-radius);
  }
  .post-layout__date {
    margin-bottom: 1rem;
    opacity: 0.84;
  }
  .theme-change{
		text-align: center;
	}
</style>